################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/CATIATranslator
/ipch
/PostManager/x64
/PostManager/Debug
/PreManager/x64
/PreManager/Debug
/x64
