################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/CATIATranslator
/ipch
/PostManager/x64
/PostManager/Debug
/PostManager/Release
/PreManager/x64
/PreManager/Debug
/PreManager/Release
/x64
/CATIATranslator/bin
/CATIATranslator/bin/*
/CATIATranslator/obj
/CATIATranslator/obj/*
/CATIATranslator/obj/x86/Debug
/CATIATranslator/obj/x86/Release
/CPPWITHCSHARP/Debug
/CPPWITHCSHARP/x64
/Debug
/Debug/*
/Release
/Release/*
*.suo
*.db
*.opendb