################################################################################
This .gitignore file was modified by Imgyu Kim 
2018-08-08
################################################################################

.vs/CATIATranslator
ipch
PostManager/x64
PostManager/Debug
PostManager/Release
PreManager/x64
PreManager/Debug
PreManager/Release
x64
CATIATranslator/bin
CATIATranslator/bin/*
CATIATranslator/obj
CATIATranslator/obj/*
CATIATranslator/obj/x86/Debug
CATIATranslator/obj/x86/Release
CPPWITHCSHARP/Debug
CPPWITHCSHARP/Release
CPPWITHCSHARP/x64
Debug
Debug/*
Release
Release/*
*.suo
*.db
*.opendb
*.log
*.htm
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
UpgradeLog.htm
CPPWITHCSHARP/Debug/CPPWITHCSHARP.log
